.Navbar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 5px;
   
}
.Navbar > img{
    width: 20%;
}
.Navbar > a{
    text-decoration: none;
    color: rgb(241, 8, 8);
}
.Navbar:hover{
    background-color: black;
}
.Navbar > a:hover{
   transition: all 2s ease-in-out;
  color:rgb(196,150,40) ;
  text-decoration: underline;

}
@media (max-width: 1024px) {
    .Navbar > img{
    width: 30%;
}
.Navbar > a{
    padding-top: -10px;
}
}
