.Navbar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(250, 184, 250),rgb(190, 96, 96));
}
.Navbar > img{
    width: 20%;
}
.Navbar > a{
    text-decoration: none;
    color: whitesmoke;
}
.Navbar > a:hover{
   transition: all 2s ease-in-out;
  color: teal;
  text-decoration: underline;

}
